.hr1 {
background: #169dd5;
height: 10px;
border: 1px;
line-height: 0px; 
}

.hr2 {
background: #98c13d;
height: 10px;
border: 1px;
line-height: 0px; 
}


.english {
font-weight: 500;
font-family: "Arial";
font-size: 18px;
color: #169dd5
}

.polish {
font-weight: 500;
font-family: "Arial";
font-size: 18px;
color: #98c13d
}


DIV.buttons {
    margin-left: 2px; 
}

.button1 {
    background-color: #313b4e;
    border: none;
    color: #169dd5;
    width: 245px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #169dd5;
}

.button1:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    background-color: #313b4e;
    border: none;
    color: #169dd5;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #169dd5;
}

.button2:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3 {
    background-color: #313b4e;
    border: none;
    color: #98c13d;
    width: 245px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #98c13d;
}

.button3:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button4 {
    background-color: #313b4e;
    border: none;
    color: #98c13d;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #98c13d;
}

.button4:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

r {
color: red;
}


.icons {
     width: 20px;
     padding: 0px;
}

@media screen and (min-width: 321px) {
.icons {
     width: 40px;
     padding: 1px;
}
}

@media screen and (min-width: 480px) {
.icons {
     width: 40px;
     padding: 2px;
}
}

@media screen and (min-width: 640px) {
.icons {
     width: 50px;
     padding: 5px;
}
}


.iconpy {
    width:  54px;
    height: 71px;
}
.iconpytl {
    width:  34px;
    height: 55px;
}

@media screen and (min-width: 320px) {
.iconpy {
    width:  61px;
    height: 81px;
}
.iconpytl {
    width:  38px;
    height: 63px;
}
}

@media screen and (min-width: 360px) {
.iconpy {
    width:  72px;
    height: 95px;
}
.iconpytl {
    width:  45px;
    height: 74px;
}
}


.icon {
    width:  54px;
    height: 54px;
}
.icontl {
    width:  54px;
    height: 54px;
}

@media screen and (min-width: 320px) {
.icon {
    width:  61px;
    height: 61px;
}
.icontl {
    width:  61px;
    height: 61px;
}
}

@media screen and (min-width: 360px) {
.icon {
    width:  72px;
    height: 72px;
}
.icontl {
    width:  72px;
    height: 72px;
}
}

.iconframe {
    border: thin solid #169dd5;
}

/*.iconframe:hover {
    border: 1px solid red;
}*/


.bottommenu {
    position: fixed;
    overflow-x: auto;
    bottom: 0; 
    width: 100%;
    left: 0px;
}

.menutable {
    border-collapse: collapse;
    border: 1px solid red;
    left: 0px;
    width: 100%;
    min-width: 650px;
    height: 1em;
    table-layout: auto;
}


.imglink {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #169dd5;
    font-size: 18px;
    font-weight: 500;
}

.imglink:active {
    font-style: italic;
}


@media screen and (max-device-width: 640px) {

.menutable { 
    min-width: 760px;
    height: 1.25em;
}

.imglink {
    font-size: 1.25em;
}

.imglink:hover {
    text-decoration: none;
    font-style: normal;
}

}



.menutable td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    white-space: nowrap;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
